@import '../../../styles/abstracts/mixins';

.container {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-medium);
  max-width: 94rem;
  border-radius: 1.4rem;
  width: 90%;
  padding: 1.6rem;
  display: flex;

  @include centerHorizontalVertical;
}
