//COLORS
$color-primary: hsl(243, 100%, 62%);
$color-primary-light: hsl(228, 100%, 84%);
$color-primary-dark: hsl(213, 96%, 18%);

$color-secondary: hsl(354, 84%, 57%);

$color-tertiary: hsl(206, 94%, 87%);

$color-gray-light-1: #EEF5FF;
$color-gray-light-2: hsl(231, 100%, 99%);
$color-gray-dark-1: hsl(231, 11%, 63%);
$color-gray-dark-2: hsl(229, 24%, 87%);
$color-white: #FFF;
$color-black: #000;

$color-shadow-light: rgba($color-gray-dark-1, .15);
$color-shadow-dark: rgba($color-gray-dark-1, .5);

//SHADOWS
$shadow-extra-small: 0 .5rem 1rem $color-shadow-light;
$shadow-small: 0 1rem 2rem $color-shadow-light;
$shadow-medium: 0 1.5rem 4rem $color-shadow-light;
$shadow-large: 0 2.5rem 4rem $color-shadow-dark;
$shadow-extra-large: 0 3rem 6rem $color-shadow-light;

//CONTAINER PROPERTIES
$border-radius-small: 3px;
$border-radius-large: 10rem;

//FONTS
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
