.sidebar {
  padding: 3.8rem;
  background-size: cover;
  background: no-repeat center/100% url("~/public/assets/images/bg-sidebar-desktop.svg");
  width: 27.4rem;
  min-width: 27.4rem;
  min-height: 57rem;
  flex: 0 0 auto;
}
