.input-field {
  .label {
    font: var(--typography-input-label);
    display: inline-block;
    margin-bottom: 1rem;
  }

  .input {
    font: var(--typography-input-text);
    background-color: var(--colore-white);
    border-radius: var(--border-radius-medium);
    border: var(--border-secondary);
    padding: 1.5rem;
    transition: border-color 200ms;
    width: 100%;
    color: var(--color-black-text);

    &:focus,
    &:active {
      outline: none;
      border-color: var(--color-primary-dark);
    }

    &::placeholder {
      color: var(--color-gray-text-light);
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: var(--color-gray-text-light);
    }

    &::-ms-input-placeholder {
      color: var(--color-gray-text-light);
    }
  }

  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}
