@import '../../../styles/main';

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.6rem;
  width: 3.6rem;
  border: var(--border-white);
  border-radius: var(--border-radius-round);
  color: var(--color-white);
  font-weight: 700;
  font-size: $default-font-size;
  line-height: 1;
}

.active {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-black-text);
}
