.summary {
  flex: 1 1 100%;
}

.container {
  background-color: var(--color-gray-background);
  border-radius: var(--border-radius-medium);
  padding: 2rem;
  margin-bottom: 1rem;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-secondary);
    padding-bottom: 1.4rem;

    button {
      padding: .8rem 0;
      color: var(--color-gray-text-light);
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: var(--color-primary-dark);
      }
    }

    h3 {
      font: var(--typography-input-text);
      text-transform: capitalize;
    }

    span {
      font: var(--typography-input-text);
    }
  }

  .list {
    padding-top: 2rem;

    li {
      display: flex;
      justify-content: space-between;
      font: var(--typography-input-label);

      p {
        color: var(--color-gray-text-light);
      }

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font: var(--typography-input-label);
  color: var(--color-gray-text-light);

  span {
    font: var(--typography-input-text);
    color: var(--color-primary-dark);
  }
}
