*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
}

button,
input,
ul,
fieldset,
p {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  outline: inherit;
}

button {
  cursor: pointer;
}

html {
  //This defines what 1rem is. 100% = 16px (default browser value).
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

  @include respond(big-desktop) { //width > 1800px ?
    font-size: 75%; //1rem = 12px; 12/16px = 75%
  }

  @include respond(tab-land) { //width < 1200px ?
    font-size: 56.25%; //1rem = 9px; 9/16px = 56.25%
  }

  @include respond(tab-port) { //width < 900px ?
    font-size: 50%; //1rem = 8px; 8/16px = 50%
  }
}

body {
  background-color: var(--color-gray-background);
  box-sizing: border-box;
  padding: 3rem;
  margin: 0;

  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include respond(tab-port) {
    padding: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}
